body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
}
.container {
	height: 100vh;
	position: relative;
	font-family: 'Raleway', sans-serif;
}
.circle-middle {
	animation: breathemid 9s linear infinite;
	position: absolute;
	right: 320px;
	top: 200px;
	background-color: #00843f;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	mix-blend-mode: color-burn;
	
}
@keyframes breathe {
	0% {width: 700px; height: 700px}
	50% {width: 750px; height: 750px;}
	100% {width: 700px; height: 700px;}
}
@keyframes breathetop {
	0% {width: 600px; height: 600px}
	50% {width: 640px; height: 640px;}
	100% {width: 600px; height: 600px;}
}
@keyframes breathemid {
	0% {width: 200px; height: 200px}
	50% {width: 230px; height: 230px;}
	100% {width: 200px; height: 200px;}
}
.art {
	font-size: 150px;
	line-height: 90px;
	position: absolute;
	bottom: 0px;
	left: 70px;
	color: #fff;
}
.astherapy {
	mix-blend-mode: color-burn;
	font-size: 170px;
	color: #00843f;
}	
.circle-top {
	animation: breathetop 9s linear infinite;
	position: absolute;
	width: 600px;
	height: 600px;
	border-radius: 50%;
	background-color: #4b4;
	top: -250px;
	right: -150px;
}

.circle-bottom {
	z-index: -100;
	animation: breathe 9s linear infinite;
	position: absolute;
	width: 700px;
	height: 700px;
	border-radius: 50%;
	background-color: #4b4;
	bottom: -300px;
	left: -100px;
}
.info {
	position: absolute;
	top: 20px;
	right: 30px;
	text-align: right;
	width: 500px;
	height: 500px;
	color: #fff;
}
::selection {
	background: #0f0;
}
::-moz-selection; {
	background: #0f0;
}
@media screen and (max-width: 915px) {
	.astherapy {
		font-size: 140px;
	}
	.art {
		font-size: 120px;
		line-height: 70px;
	}
}
@media screen and (max-width: 770px) {
	.astherapy {
		font-size: 100px;
	}
	.art {
		font-size: 85px;
		line-height: 60px;
	}
}